
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

*{
    margin: 0;
    padding: auto auto;
    box-sizing: border-box;
    /* background: bisque; */
    text-align:center;
}
#MyInfo{
    width: 600px; 
    height: 30%; 
    background-color: #ff5e009f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.content{
    text-align: center;
    padding: 20px;
}
.content h1{
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
}
.content p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
}